{% extends "base.html"%}
{% block head %}
  <title>wbdan</title>
  <script type="text/javascript">
  $(document).ready(function(){
      $("#ajaxtest").click(function(){
        $.ajax({
          url: '/ajaxtest',
          type: 'get', 
          cache: false,
          success: function(data){
              $('#ajaxtestresult').html(data);
          }
        });

   });
 });
  </script>
{% endblock %}
{% block body %}

<div class="container" style="margin-top: 5%">
    <div class="row">
        <div class="col">
    
        </div>
        <div class="col">
            <p text-align="center">用 户 登 录</p>
            <form action="/login/auth" method="post">
                <label>username: </label> <input type="text" name="username" class="form-control" placeholder="Username" />
                <label>password: </label> <input type="password" name="password" class="form-control" placeholder="Password" /><br />
                <button type="submit" class="btn btn-primary">登录</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock %}

