{% extends "base.html"%}
{% block head %}
  <title>mytask</title>
{% endblock %}
{% block body %}
<div class="container">
<form action="{{ url_for('add') }}" method=post class="form-inline">
     &nbsp; <label>处理人：</label> <textarea class="form-control" name=user rows=1 cols=20></textarea>&nbsp;
      <label>任务内容：</label> <textarea class="form-control" name=content rows=1 cols=20></textarea>&nbsp;&nbsp;
       <input type=submit value=submit class="btn btn-outline-primary">
</form>
<br />
<div class="jumbotron">
<table class="table table-bordered table-hover">
<thead>
<th>姓 名</th>
<th>任 务</th>
<th>状 态</th>
<th>删 除</th>
<th>更新状态</th>
</thead>
<tbody>
<meta charset="UTF-8">
{% for todo in todos %}
<tr>
<td>{{todo.user}}</td>
<td>{{todo.content}}</td>
{%- if todo.is_finished -%}
                <td>finished</td>
        {%- else-%}
                <td>unfinished</td>
        {%- endif %}
<td><a href="{{ url_for('delete',content=todo.content)}}">delete</a></td>
<td><a href="{{ url_for('finish',content=todo.content)}}">done</a></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
{% endblock %}

